<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.joo.repository.QuestionRepository">

	<insert id="insert">
		insert into QUESTIONS (U_ID, P_ID, QTITLE, QCONTENT, QTYPE, QCREATED_TIME,
		QMODIFIED_TIME)
		values (#{u_id}, #{p_id}, #{qtitle}, #{qcontent}, #{qtype}, systimestamp,
		systimestamp)
	</insert>

	<!-- 상품 문의 조회 -->

	<select id="selectWhereTypeProduct"
		resultType="com.itwill.joo.domain.Question">
		SELECT *
		FROM QUESTIONS A
		JOIN PRODUCTS B
		ON A.P_ID = B.ID
		WHERE A.QTYPE IN ('배송', '재입고', '기타 상품문의') AND A.P_ID = #{p_id}
		ORDER BY A.ID DESC
	</select>

	<!--상품 문의 조회 - 페이징(일단보류 -->
	<select id="selectWhereTypeProductWithPaging">
    <![CDATA[
    SELECT *
    FROM (
        SELECT A.*
        FROM (
            SELECT ROWNUM R, ID, U_ID, P_ID, QTITLE, QCONTENT, QTYPE, QCREATED_TIME,
                            QMODIFIED_TIME, IS_ANSWERED, QREPLYCREATED_TIME
            FROM QUESTIONS A 
            JOIN PRODUCTS B 
            ON A.P_ID = B.ID
            WHERE A.QTYPE IN ('배송', '재입고', '기타 상품문의') AND A.P_ID = #{p_id}
            ORDER BY A.ID DESC
        ) 
        WHERE ROWNUM  <= (#{pageNum} * {amount})
    ) 
    WHERE R > (#{pageNum}-1) * #{amount}
    ]]>
</select>

   <!-- 총 상품 문의 수    -->
    <select id ="totalSelectQuestionTypeProduct">
       SELECT COUNT(*)
       FROM QUESTIONS A
       JOIN PRODUCTS B 
       ON A.P_ID = B.ID
       WHERE A.QTYPE IN ('배송', '재입고', '기타 상품문의') AND A.P_ID = #{p_id}
       ORDER BY A.ID DESC
    </select>
    
    <!-- 총 고객 문의 수 -->
    <select id="totalSelectWhereTypeQnA">
        SELECT COUNT(*)
        FROM QUESTIONS 
        WHERE QTYPE IN ('취소관련', '주문관련', '회원정보', '서비스', '기타') 
        ORDER BY ID DESC;
    </select>
    
    <!-- 총 문의 조회 수 -->
    <select id="totalSelectQuestions">
        SELECT COUNT(*)
        FROM QUESTIONS
        ORDER BY ID DESC
    </select>
    
    <!-- 고객 문의 조회 -->
    <select id="selectWhereTypeQnA" resultType="com.itwill.joo.domain.Question">
        select * 
        from QUESTIONS 
        where QTYPE IN ('취소관련', '주문관련', '회원정보', '서비스', '기타') 
        order by ID desc
    </select>

    <!--상품문의 전체 조회 -->
    <select id="selectOrderByDesc" resultType="com.itwill.joo.domain.Question">
        select * from QUESTIONS order by ID desc
    </select>

    <!--문의 상세 보기 -->
    <select id="selectById" resultType="com.itwill.joo.domain.Question">
        select * from QUESTIONS where ID = #{id}
    </select>
    
    <!-- 자신이 한 문의 조회 -->
    <select id="selectByUserId" resultType="com.itwill.joo.domain.Question">
       select q.* 
       from QUESTIONS Q 
       JOIN USERS U 
       ON q.u_id = u.id
       where q.u_id = #{u_id}
       order by q.id desc
    </select>
    
    <!--  자신이 한 문의 조회 페이징 -->
    <select id="selectByUserIdWithPaging" resultType="com.itwill.joo.dto.question.QuestionsListDto">
        <![CDATA[
        SELECT * 
        FROM
            ( 
            SELECT /*+ INDEX_DESC(BOARDS PK_BOARD) */ ROWNUM RN, ID, U_ID, QTITLE, QCONTENT, QTYPE, IS_ANSWERED, QCREATED_TIME  
            FROM
            (
            SELECT Q.ID, Q.U_ID, Q.QTITLE, Q.QCONTENT, Q.QTYPE, Q.IS_ANSWERED, Q.QCREATED_TIME
            FROM QUESTIONS Q
            JOIN 
            USERS U
            ON Q.U_ID = U.ID
            WHERE Q.U_ID = #{U_ID}
            ORDER BY Q.ID DESC
            )
            WHERE U_ID > 0 AND ROWNUM > 0 AND ROWNUM <= (#{cri.pageNum} * #{cri.amount})
            )
            where RN > (#{cri.pageNum} -1) * #{cri.amount}
        ]]>
    </select>
    
    
    <!--문의 수정 -->
    <update id = "updateTitleAndContent">
        update QUESTIONS 
        set QTITLE = #{qtitle}, QCONTENT = #{qcontent}, QMODIFIED_TIME = systimestamp
        where ID = #{id}    
    </update>
    
    <!-- 문의 삭제 -->
    <delete id = "deleteById">
        delete from QUESTIONS where ID = #{id}    
    </delete>
    
        <select id="selectAllProducts" resultType="com.itwill.joo.domain.Product">
        select * from PRODUCTS
    </select>
    
    <select id="selectProductById" resultType="com.itwill.joo.domain.Product">
        select * from PRODUCTS
        where ID = #{id}
    </select>

</mapper>