<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.joo.repository.UserRepository">
    
    <select id="selectUserById" resultType="com.itwill.joo.domain.User">
        select * from USERS
        where ID = #{id}
    </select>
    
    <select id="selectUserByEmail" resultType="com.itwill.joo.domain.User">
    	select * from USERS
    	where UEMAIL = #{email}
    </select>
    
    <select id="selectUserByLoginId" resultType="com.itwill.joo.domain.User">
    	select * from USERS
    	where LOGIN_ID = #{login_id}
    </select>
    
    <select id="selectLoginIdByEmailAndName" resultType="String">
    	select LOGIN_ID
    	from USERS
    	where UEMAIL = #{email} and UNAME = #{name}
    </select>
    
    <select id="selectByLoginIdAndEmail" resultType="int">
    	select count(*)
    	from USERS
    	where LOGIN_ID = #{loginId} and UEMAIL = #{email}
    </select>
    
    <insert id="createUser">
    	insert into USERS (LOGIN_ID, UPASSWORD, UEMAIL, UPHONE, UNAME, USTREET, UDETAIL_ADDRESS, UPOSTCODE, ROLE, CREATED_TIME, MODIFIED_TIME)
    	values(#{login_id}, #{upassword}, #{uemail}, #{uphone}, #{uname}, #{ustreet}, #{udetail_address}, #{upostcode}, #{role}, systimestamp, systimestamp)
    </insert>
    
    <insert id="createUserBasket">
    	insert into BASKET (U_ID, ESTIMATED_PRICE)
    	values(#{u_id}, 0)
    </insert>
    
    <insert id="createKakaoUser">
    	insert into USERS (LOGIN_ID,  UEMAIL, UPHONE, UNAME, USTREET, UDETAIL_ADDRESS, UPOSTCODE, ROLE, CREATED_TIME, MODIFIED_TIME)
    	values(#{login_id}, #{uemail}, #{uphone}, #{uname}, #{ustreet}, #{udetail_address}, #{upostcode}, #{role}, systimestamp, systimestamp)
    </insert>
    
    <update id="updateUser">
    	update USERS
    	set UNAME = #{uname}, UPHONE = #{uphone}, USTREET = #{ustreet}, UDETAIL_ADDRESS = #{udetail_address}, UPOSTCODE = #{upostcode}, UPASSWORD = #{upassword}, MODIFIED_TIME = systimestamp
    	where LOGIN_ID = #{login_id}
    </update>
    
    <update id="updatePassword">
    	update USERS
    	set UPASSWORD = #{password}, MODIFIED_TIME = systimestamp
    	where LOGIN_ID = #{loginId}
    </update>
    
    <delete id="deleteUserById">
    	delete from USERS
    	where ID = #{id}
    </delete>
    
    <!-- 장바구니 관련 데이터 삭제 -->
    <select id="selectBasketByUserId" resultType="long">
    	select U_ID
    	from BASKET
    	where U_ID = #{u_id}
    </select>
    
    <delete id="deleteBasketByUserId">
    	delete from BASKET
    	where U_ID = #{u_id}
    </delete>
    
    <delete id="deleteBasketProductsByBasketId">
    	delete from BASKET_PRODUCTS
    	where B_ID = #{b_id}
    </delete>
    
    <!-- 주문, 배송 관련 데이터 삭제 -->
    <select id="selectOrderByUserId" resultType="long">
    	select ID
    	from ORDERS
    	where U_ID = #{u_id}
    </select>
    
    <delete id="deleteOrderProductsByOrderId">
    	delete from ORDER_PRODUCTS
    	where O_ID = #{o_id}
    </delete>
    
    <delete id="deletePaymentsByOrderId">
    	delete from PAYMENTS
    	where O_ID = #{o_id}
    </delete>
    
    <delete id="deleteDeliveriesByOrderId">
    	delete from DELIVERIES
    	where O_ID = #{o_id}
    </delete>
    
    <delete id="deleteOrdersByUserId">
    	delete from ORDERS
    	where U_ID = #{u_id}
    </delete>
    
    <!-- 유저가 작성한 문의, 리뷰 삭제 -->
    <delete id="deleteQuestionsByUserId">
    	delete from QUESTIONS
    	where U_ID = #{u_id}
    </delete>
    
    <delete id="deleteReviewsByUserId">
    	delete from REVIEWS
    	where U_ID = #{u_id}
    </delete>
    
</mapper>